@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .loginBody {
        @apply
        h-full h-full
         bg-grey-lighter  text-base text-grey-darkest font-normal relative
    }

    .answers-span {

        @apply
        flex p-2 my-5 inline-block leading-8 first-of-type:mt-5 last-of-type:mb-5 border-2 rounded cursor-pointer
        text-stone-900 hover:bg-gray-200
        before:mr-2 before:w-1 before:h-1 before:p-2   before:mt-2 before:left-0.5 before:rounded-xl before:bg-gray-400
    }

    .answers-span.active {
        @apply  bg-gray-600 text-white before:bg-gray-900
    }

    .nextBtn {
        @apply
        text-white bg-blue-700 hover:bg-blue-800
        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg
        text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }

    .saveBtn {
        @apply
        text-white bg-blue-700 hover:bg-blue-800
        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg
        text-sm px-7 py-3 text-center inline-flex items-center mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }

    .tableTd {
        @apply
        text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap
    }

    .formSubmitBtn {
        @apply
        inline-flex justify-center rounded-md border
        border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700
        focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2
    }

    .pollInput {
        @apply
        mt-1 inline w-full relative rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500
        sm:text-sm
    }

    .optionDiv {
        @apply relative
    }

    .delete {
        @apply
        absolute text-xs inline-block text-red-600 ml-[-8px] mt-[-12px] font-bold hover:cursor-pointer
    }


    .editBtn {
        @apply
        focus:outline-none text-white bg-yellow-600
        hover:bg-yellow-700 focus:ring-4 focus:ring-yellow-300
        font-medium rounded-lg text-sm px-3 py-2 mr-2 mb-2
        dark:focus:ring-yellow-900
    }

    .fillOutBtn {
        @apply
        text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
        font-medium rounded-lg text-sm px-3 py-2 mr-2 mb-2 dark:bg-blue-600
        dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
    }

    .deleteBtn {
        @apply
        focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4
        focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2 mr-2 mb-2
        dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
    }

}

    .passed {
        background-color: #e8e7e7 !important;
        color: #718096;
        border: none !important;

    }

    .passed td {
        border: none !important;
    }

/** DATATABLES **/

    .dataTables_wrapper .dataTables_length select {
        display: block;
        width: max-content !important;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        -moz-padding-start: calc(.75rem - 3px);
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #5b626b;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
    }
    .dataTables_wrapper .dataTables_length select option {
        font-size: 12px;
    }

    table.dataTable tbody  {
        margin-top: 50px !important;
    }

    table.dataTable tbody tr  {

        border: 1px solid #ccc !important;
        padding: 20px;
    }

    table button {
        font-size: 0.85rem;
        background-color: green;
        padding: 8px;
        color: white;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        border: 1px solid #f9f9f9;
        font-size: .99rem;
    }

    table.dataTable tbody th, table.dataTable tbody td:last-child {
        border-right: 1px solid #f1f1f1 !important;
    }
    table.dataTable tbody th, table.dataTable tbody td:first-child {
        border-left: 1px solid #f1f1f1 !important;
    }
    table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid #efefef;
        border: 1px solid #f1f1f1 !important;

    }

    div#example_info, a.paginate_button  {
        font-size: 14px !important;
    }

    .dataTables_paginate, .dataTables_info{
        margin-top: 20px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current{
        background: #2b79c1 !important;
        color: white !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button
    {
        background: transparent !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #2b79c1 !important;
    }

    a#example_previous, a#example_next {
        background: transparent !important;
        border: none;
        color: #222 !important;
        cursor: pointer;
        box-shadow: none;
    }
    a#example_previous:hover, a#example_next:hover {
        text-decoration: underline;
        opacity: 0.6;
    }

    table.dataTable.no-footer {
        border-bottom: none;
        margin-bottom: 10px;
    }

    .dataTables_filter {
        font-size: 15px;
    }

@media screen and (max-width: 767px) {

    div.dataTables_wrapper div.dataTables_length select
    {
        margin: 5px auto;
    }
}

/** ~DATATABLES **/
